<div>
  <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
    <button nz-button><i nz-icon nzType="upload"></i>选择上传文件</button>
  </nz-upload>
  <button
    nz-button
    [nzType]="'primary'"
    [nzLoading]="uploading"
    (click)="handleUpload()"
    [disabled]="fileList.length == 0"
    style="margin-top: 16px"
  >
    {{ uploading ? '上传中' : '开始上传' }}
  </button>
  <button 
    nz-button 
    nzType="default" 
    (click)="handleResume()" 
    *ngIf="status === Status.pause"
    style="margin-top: 16px"
    >恢复</button>
  <button nz-button nzType="default" (click)="handlePause()">暂停</button>
</div>

<div>
  <div>计算文件 hash</div>
  <nz-progress [nzPercent]="hashPercentage"></nz-progress>
  <div>总进度</div>
  <nz-progress [nzPercent]="fakeUploadPercentage"></nz-progress>
</div>

<div>
  <nz-table #basicTable [nzData]="data">
    <thead>
      <tr>
        <th>切片hash</th>
        <th>大小(KB)</th>
        <th>进度</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.hash }}</td>
        <td>{{ data.size }}</td>
        <td><nz-progress [nzPercent]="data.percentage"></nz-progress></td>
      </tr>
    </tbody>
  </nz-table>
</div>